:root 
{
    --main-color_about: ;
}

#Description
{
    font-size: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
body{
 /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: radial-gradient(blue,var(--main-color_about));
    width: 100%;
}
#disc_opis
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 200%;
}
#adress_opis_div
{
    padding-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 180%;
}
#adress_opis_txt
{
font-size: 250%;
font-style: italic;
    text-align: center;
}