
#bs-example-navbar-collapse-1
{
    margin-left: 70%;
}
#Shop_header
{
    color: #ffffffff;
}
.lead
{
    padding-top: 3%;
    position: relative;
    font-size: 900%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

